@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.dept-badge {
    @apply inline-flex items-center rounded-md bg-gray-50 dark:bg-gray-800 px-2 py-1 text-xs font-medium text-gray-600 dark:text-gray-300 ring-1 ring-inset ring-gray-500/10;
}

.active-badge {
    @apply inline-flex items-center rounded-md bg-green-50 dark:bg-green-900 px-2 py-1 text-xs font-medium text-green-700 dark:text-green-200 ring-1 ring-inset ring-green-600/20
}

.inactive-badge {
    @apply inline-flex items-center rounded-md bg-yellow-50 dark:bg-yellow-900 px-2 py-1 text-xs font-medium text-yellow-800 dark:text-yellow-200 ring-1 ring-inset ring-yellow-600/20
}

.form-label {
    @apply text-sm font-medium leading-6 text-gray-900 dark:text-gray-200;
}

.dropdown-link {
    @apply block inline-flex px-1 text-center text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.card-bg {
    @apply bg-white dark:bg-gray-800 shadow sm:rounded-lg border border-gray-200 dark:border-gray-700;
}

.button-primary {
    @apply rounded-md bg-white dark:bg-gray-800 px-3 py-2 text-center text-sm font-semibold text-brand-green dark:text-gray-200 shadow-md hover:bg-gray-100 dark:hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.text-primary {
    @apply text-gray-900 dark:text-gray-100;
}

.text-secondary {
    @apply text-gray-600 dark:text-gray-300;
}

.text-muted {
    @apply text-gray-500 dark:text-gray-400;
}